.carousel-container {
    width: 100vb;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .slick-slider {
    width: 100 vb;
    height: 100 vh
  }
  
  .slick-list {
    width: 100 vb;
    height: 100 vh
  }
  
  .slick-slide > div {
    width: 100 vb;
    height: 100 vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide > div img {
    width: 100vb;
    height: 100 vh
  }
  